/*External stylesheet for Etch-a-Sketch*/
body{
    background: #CCFFFF;
}

.box{
    background: pink;
    width:10px;
    height:10px;
}

#wrapper{
    float:center;
    padding-left:400px;
    padding-top: 10px;
}
